---
interface Props {
    class?: string,
}

const { class: className } = Astro.props;
---

<article class={ className }>
    <div>
        <slot />
    </div>
</article>

<style>
    article {
        display: flex;
        padding: 1rem;
        box-sizing: border-box;
    }

    div {
        width: 100%;
        /* height: 272.33px; */
        height: 100%;
        display: flex;
        /* background-color: var(--color-light); */
        border-radius: 12px;
        overflow: hidden;
    }
</style>