---
interface Props {
    id: string;
    href: string;
    class?: string;
}

const { id, href, class: className } = Astro.props as Props;
---
<li>
    <a id=`${id}` class={`group flex items-center py-3 ${className}`} href=`${href}`>
        <span class="nav-indicator mr-4 h-px w-8 transition-all group-hover:w-16 group-focus-visible:w-16  motion-reduce:transition-none"></span>
        <span class="nav-text text-xs font-bold uppercase tracking-widest">
            <slot />
        </span>
    </a>
</li>

<style>
    .active .nav-indicator {
        width: 4rem;
        background-color: var(--color-primary);
    }

    .active .nav-text {
        color: var(--color-primary);
    }

    a span:nth-child(1) {
        background-color: var(--color-dark);
    }

    a:hover span:nth-child(1) {
        background-color: var(--color-primary);
    }

    a:hover span {
        color: var(--color-primary);
    }
</style>