<div id="spotlight" class="pointer-events-none h-auto fixed inset-0 z-30 transition duration-300 lg:absolute"></div>

<script>
    const spotlight = document.querySelector('#spotlight');

    document.addEventListener("mousemove", function(e) {
        spotlight.style.background = `radial-gradient(600px at ${e.pageX}px ${e.pageY}px, rgba(35, 197, 94, 0.13), transparent 55%)`;
    });
</script>

<!-- rgba(213, 103, 159, 0.13) -->