<div class="flex items-center rounded-full px-3 py-1 text-xs font-medium leading-5">
    <slot />
</div>

<style>
    div {
        background-color: var(--color-primary-op);
        color: var(--color-pill);
    }
</style>