---
import Section from "../components/Section.astro";
import Title from "../components/Title.astro";
import Highlight from "../components/Highlight.astro";
---

<Section id="about">
    <Title>Sobre mí</Title>
    <div>
        <p class="mb-4">En 2018, me adentré en la creación de temas personalizados para <Highlight>ForoActivo</Highlight> y <Highlight>Tumblr,</Highlight> siendo ese el punto de quiebre que me llevó a conocer las maravillas de la programación. Con el tiempo decidí profesionalizar mi carrera, egresando en 2021 como <Highlight>Técnico en Análisis y Programación de Sistemas.</Highlight> Lo que me lleva a día de hoy, en dónde he tenido el privilegio de crear software para una <Highlight>start-up,</Highlight> una <Highlight>ONG</Highlight> y una <Highlight>empresa de agua.</Highlight> Además de desempeñarme como <Highlight>relator/docente</Highlight> en un <Highlight>colegio</Highlight> y una <Highlight>ONG.</Highlight></p>
        <p class="mb-4">Mi enfoque en estos días es seguir creciendo como <Highlight>desarrollador de aplicaciones Android y Relator.</Highlight> Una de las cosas que más disfruto es enseñar a futuros colegas lo bonito que es crear aplicaciones móviles y acompañarlos en su proceso de aprendizaje. En mi tiempo libre, me encuentro cursando la <Highlight>Ingeniería en Computación e Informática</Highlight> que me abrirá puertas a la continuidad de estudios.</p>
        <p class="mb-4">Cuando dejo a un lado el mundo virtual, me encanta pasar tiempo con mi esposa e hijas, leer un buen libro y disfrutar de un buen café.</p>
    </div>
</Section>
    
