---
import About from "./About.astro";
import Contact from "./Contact.astro";
import Experience from "./Experience.astro";
import Footer from "./Footer.astro";
---

<main class="pt-24 lg:w-1/2 lg:py-24">
    <About />
    <Experience />
    <Contact />
    <Footer />
</main>