---
import Card from "../components/Card.astro";
import Section from "../components/Section.astro";
import Title from "../components/Title.astro";
---

<Section>
    <Title>Experiencia</Title>
    <div>
        <ol>
            <li class="mb-12">
                <Card dateStart="2021" dateEnd="2023" title="Desarrollador de Software" name="Tutelkan" description="Me desempeñé como el principal diseñador y desarrollador de aplicaciones web responsivas para diferentes empresas de Chile." skills={["JavaScript", "Vue.JS"]} />
            </li>
        </ol>
    </div>
</Section>