---
import Card from "../components/Card.astro";
import Section from "../components/Section.astro";
import Title from "../components/Title.astro";
---

<Section id="exp">
    <Title>Experiencia</Title>
    <div>
        <ol class="group/list">
            <li class="mb-12">
                <Card
                    dateStart="Nov 2024"
                    title="Docente para Formación de Desarrolladores en iOS"
                    name="Desafío Latam"
                    description="Como Docente encargado de liderar el proceso de formación de desarrolladores en iOS, desarrollo el material didáctico y las evaluaciones con el objetivo de garantizar un aprendizaje efectivo y alineado con las mejores prácticas de desarrollo en la plataforma Apple. Imparto clases en horario vespertino (19:00 a 23:00), proporcionando una formación tanto teórica como práctica en Swift, diseño de interfaces y arquitectura de aplicaciones iOS."
                    description2="Mi enfoque está en el desarrollo de competencias clave para asegurar el éxito profesional de los estudiantes en el ámbito iOS, brindándoles las herramientas necesarias para abordar desafíos reales en el desarrollo de aplicaciones móviles para dispositivos Apple."
                    skills={["Swift", "SwiftUI", "UIKit", "iOS", "URLSession", "Alamofire", "CoreData", "SwiftData"]}
                />
            </li>
            <li class="mb-12">
                <Card
                    dateStart="Jun 2024"
                    title="Awaker/Relator en Bootcamp de Desarrollo de Aplicaciones Móviles Android"
                    name="Adalid Chile"
                    description="Me desempeñé como Awaker/Relator en dos cursos del Bootcamp de Desarrollo de Aplicaciones Móviles Android, tanto en la jornada diurna (de 09:00 a 13:12) como vespertina (de 19:00 a 22:34). Mi labor incluía enseñar desde los fundamentos de la programación, pasando por Java, Bases de Datos SQL, hasta el desarrollo con Kotlin y Jetpack Compose para aplicaciones móviles Android."
                    description2="Además, desarrollé material evaluativo para los módulos de Kotlin y participé en la revisión de las certificaciones de los estudiantes. Los alumnos de Talento Digital para Chile adquirieron las herramientas necesarias para desarrollar sus propias aplicaciones Android de manera profesional."
                    skills={["Java", "Kotlin", "MySQL", "XML", "Android", "Jetpack Compose", "Retrofit", "Room", "Relator"]}
                />
            </li>
            <li class="mb-12">
                <Card
                    dateStart="2023"
                    title="Desarrollador Full-Stack"
                    name="Freelance"
                    description="Me adentré en el mundo del trabajo freelance encontrándome con una cantidad sorprende de proyectos diversos y por sobretodo, emocionantes."
                    description2="En la actualidad sigo colaborando con algunas empresas de Chile, Bolivia, Argentina y Colombia, dándome la oportunidad de estar constantemente enfrentándome a diferentes lenguajes y frameworks que me mantienen nutriéndome de los avances tecnológicos."
                    skills={["HTML5", "CSS3", "Tailwind", "Bootstrap", "Bulma", "JavaScript", "TypeScript", "Jquery", "Java", "Python", "C#", "Node.JS", "Angular", "Astro.JS", "Vue.JS", "React", "Kotlin", "SpringBoot", "MySQL", "PostgreSQL", "MongoDB", "Firebase", ".NET", "Nest.JS", "Docker", "PHP", "Laravel", "Wordpress", "AWS"]}
                />
            </li>
            <li class="mb-12">
                <Card 
                   dateStart="Enero"
                   dateEnd="Mar 2024"
                   title="Profesor Taller de Programación"
                   name="Colegio John Fitzgerald Kennedy"
                   description="Tomé el cargo de profesor para un Taller de Vacaciones e Inicio de Clases que impartió el colegio para sus alumnos de último año."
                   description2="Durante este taller pudieron aprender las bases y la lógica de la programación, además de adentrarse en la creación de aplicaciones de escritorio, dando algunas pinceladas en las aplicaciones android."
                   skills={["Java", "HTML5", "CSS3", "SpringBoot", "MySQL", "Kotlin", "Firebase"]}
                />
            </li>
            <li class="mb-12">
                <Card 
                    dateStart="Julio"
                    dateEnd="Dic 2023"
                    title="Relator en Talleres de Desarrollo Web y Móvil"
                    name="CDR"
                    description="Acepté el desafío de impartir diferentes talleres sobre Desarrollo Web y Móvil. El avance fue constante y realizado durante 9 horas semanales."
                    description2="Los diferentes alumnos aprendieron lo básico sobre el desarrollo de aplicaciones web y lograron crear su propio aplicación móvil, dándoles la oportunidad de conocer más sobre la programación y tener una buena base por si en un futuro quieren estudiar una carrera relacionada."
                    skills={["HTML5", "CSS3", "JavaScript", "JQuery", "Astro.JS", "Java", "SpringBoot", "Kotlin", "MySQL", "Node.JS", "Nest.JS", "Firebase", "MongoDB", "Git", "GitHub"]}
                />
            </li>
            <li class="mb-12">
                <Card 
                    dateStart="Julio"
                    dateEnd="Dic 2023"
                    title="Relator Internet de las Cosas (IoT)"
                    name="CDR"
                    description="Tomé el rol de relator en un curso sobre el Internet de las Cosas que se realizaba durante 4 horas semanales."
                    description2="Durante este periodo enseñé a la comunidad a entender mejor el mundo digital, sus propios dispositivos y como navegar con mayor seguridad en la red."
                    skills={["Excel", "Word", "PowerPoint"]}
                />
            </li>
            <li class="mb-12">
                <Card 
                    dateStart="Marzo"
                    dateEnd="Dic 2023"
                    title="Encargado de Sistemas Informáticos"
                    name="CDR"
                    description="Estuve a cargo de la estructura básica digital de la ONG. Di mantenimiento a sus equipos y aplicaciones propias, aprendiendo a generar planillas y trabajando con datos que llegaban de diferentes partes del país y el mundo."
                    skills={["MySQL", "Excel", "Java", "SpringBoot"]}
                />
            </li>
            <li class="mb-12">
                <Card 
                    dateStart="2021" 
                    dateEnd="2023" 
                    title="Desarrollador de Software" 
                    name="Tutelkan" 
                    description="Aprendí a desempeñarme como desarrollador Front-End, trabajando principalmente en el diseño y maquetación de aplicaciones web."
                    description2="Trabajé en diferentes aplicaciones para grandes empresas de Chile, con el tiempo me adentré más en proyectos Full-Stack llegando incluso a participar en aplicaciones móviles."
                    skills={["HTML5", "CSS3", "SCSS", "JavaScript", "TypeScript", "Vue.JS", "React Native", "MySQL", "Node.JS", "Express.JS", "C#", ".NET", "Git", "GitHub"]}
                />
            </li>
        </ol>
    </div>
</Section>