---
interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body>
		<slot />
	</body>
</html>
<style is:global>
	@font-face {
		font-family: 'bebas';
		src: url('./../assets/font/BebasNeue-Regular.ttf');
	}

	@font-face {
		font-family: 'anka';
		src: url('./../assets/font/anka-coder.ttf');
	}

	:root {
		--color-bg: #1C1A1F;
		--color-primary: #CF006A;
		--color-light: #FEFEFC;
		--color-light-glass: rgba(254, 254, 252, 0.6);

		--font-title: 'bebas';
		--font-general: 'anka';
	}

	::-webkit-scrollbar {
		width: 6px;
	}

	::-webkit-scrollbar-thumb {
		width: 4px;
		background-color: var(--color-primary);
	}

	::-webkit-scrollbar-track {
		width: 8px;
		background-color: var(--color-bg);
	}

	*,
	*::after,
	*::before {
		margin: 0;
		padding: 0;
		box-sizing: content-box;
	}

	html {
		font-family: var(--font-general);
		overflow-x: hidden;
	}

	body {
		width: 100vw;
		height: 100vh;
		background-color: var(--color-bg);
		display: grid;
		place-items: center;
	}

	main {
		color: var(--color-bg);
	}

	section {
		width: 100vw;
		height: 100vh;
		display: flex;
		flex-wrap: wrap;
		padding: 1rem;
		box-sizing: border-box;
	}

	h1, h2 {
		font-family: var(--font-title);
	}

	p { 
		font-size: 12px;
		text-wrap: balance;
	}

	.h-large > div {
		height: 576.66px;
	}
	
</style>
