---
import GithubIcon from "../assets/icon/GithubIcon.astro";
import InstagramIcon from "../assets/icon/InstagramIcon.astro";
import LinkedinIcon from "../assets/icon/LinkedinIcon.astro";
import TiktokIcon from "../assets/icon/TiktokIcon.astro";
import ItemIcon from "../components/ItemIcon.astro";
import ItemNav from "../components/ItemNav.astro";
---

<header class="lg:sticky lg:top-0 lg:flex lg:max-h-screen lg:w-1/2 lg:flex-col lg:justify-between lg:py-24">
    <div>
        <h1 class="text-4xl font-bold tracking-tight sm:text-5xl">
            <a href="#">Carlos Tapia</a>
        </h1>
        <h2 class="mt-3 text-lg font-medium tracking-tight sm:text-xl">
            Desarrollador de Software
        </h2>
        <p class="mt-4 max-w-xs leading-normal">
            Avanzando hacía el futuro, un byte a la vez, con visión y pasión.
        </p>
        <nav class="hidden lg:block">
            <ul class="mt-16 w-max">
                <ItemNav id="navAbout" href="#about" class="active">Sobre mí</ItemNav>
                <ItemNav id="navExp" href="#exp">Experiencia</ItemNav>
                <ItemNav id="navContact" href="#contact">Contacto</ItemNav>
            </ul>
        </nav> 
    </div>
    <ul class="ml-1 mt-8 flex items-center">
        <ItemIcon href="https://github.com/cTapiaDev" title="GitHub">
            <GithubIcon />
        </ItemIcon>
        <ItemIcon href="https://www.linkedin.com/in/ctapiadev" title="Linkedin">
            <LinkedinIcon />
        </ItemIcon>
        <ItemIcon href="https://www.instagram.com/ctapiadev.web/" title="Instagram">
            <InstagramIcon />
        </ItemIcon>
        <ItemIcon href="https://www.tiktok.com/@ctapiadev.web" title="TikTok">
            <TiktokIcon />
        </ItemIcon>
    </ul>
</header>


<script>
    const about = document.querySelector('#navAbout');
    const exp = document.querySelector('#navExp');
    const contact = document.querySelector('#navContact');

    const nav = [about, exp, contact];

    nav.map((e) => {
        e.addEventListener('click', () => {
            cleanNav();
            e.classList.add('active');
        });
    });

    function cleanNav() {
        nav.forEach((e) => {
            e.classList.remove('active');
        })
    }
</script>